
 
.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border-style: none;
  border-radius: 5px;
  cursor:pointer;
  transition: background-color 0.5s ease;
}

.add-button{

  background-color: green;
  
}
.add-button:hover{
  background-color: rgb(54, 206, 54);

}

.delete-button{
  background-color: brown;
}

.delete-button:hover{
  background-color: rgb(64, 20, 20);
}

.moveUp-button,.moveDown-button{
  background-color: aqua;
}

 input[type='text']{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0, 80%, 0.5);
  border-radius: 5px;
  color:black;

 }

 ol{
  padding: 0;
 }
 li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  border: 3px solid brown;
  border-radius: 3px;
  display:flex;
  align-items: center;
 }
 .text{
  flex: 1;
 }

 .delete-button,.moveDown-button {
  padding:5px 10px;
  font-size: 1.4rem;
  margin-left: 10px;
 }